html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    footer p {
        font-family: var(--font-2);
        font-size: 1rem;
        padding: 20px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 80%;
}

body {
  margin-bottom: 20px;
}


/* ####### Footer ###### */
footer {
    background-color: var(--ml-2);
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
    position: relative;
   
}


.footerWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    width: 100%;
    
}

footer p {
    font-family: var(--font-2);
    font-size: 1.5rem;
    padding: 30px;
}

footer a {
    text-decoration: none;
}
footer .icons {
    margin-top:30px;
}

footer .icons i {
    margin: 20px;
    font-size: 30px;
    color: var(--ml-4);
}

footer .icons i:hover {
    color: var(--ancient-2);
     transition: 1s;
}


.mainImage {
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
    margin: 40px;
}

.mainImage {
    width: 30%;
    height: 30%;
}

.mainImage:hover {
     transform: scale(1.2);
}