@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> My name is Femi Adesola Oyinloye, I just completed a Full Stack Web Developer program at Business College Helsinki. I portray the attribute of a person that can work in any environment to contribute an idea, making positive change, co-operate with other people if the situation is necessary or required.  I like to integrate my previous experience and understanding as a Mechanical Designer, IT, and Lab Technician to any task with new approaches..</p>
    <br />
    <img class="mainImage" src="~/images/Book.png" />
</div>

